<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .blog-title {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h2 class="blog-title">Blog List</h2>
    <a href="/blogs/add" class="btn btn-primary">Add Blog</a>
    <div class="list-group">
        <a th:each="blog : ${blogs}" th:href="@{'/blogs/' + ${blog.id}}" class="list-group-item list-group-item-action">
            <h5 class="mb-1" th:text="${blog.title}"></h5>
            <small th:text="${blog.createdDate}"></small>
        </a>
    </div>
</div>
</body>
</html>