<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom header styles */
        .navbar {
            padding-left: 15px;
            padding-right: 15px;
        }
        .navbar-brand {
            margin-right: auto;
        }
        .logout-btn {
            margin-left: auto;
        }
    </style>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">My Website</a>
            <div class="mx-auto">
                <ul class="navbar-nav ml-auto">
                    <!-- Add more navigation links as needed -->
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blog List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Product List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">About Us</a>
                    </li>
                </ul>
            </div>
            Welcome <b><span sec:authentication="principal.username"></span></b>,
            <span sec:authentication="principal.authorities"></span>
            <form action="#" th:action="@{/logout}" method="POST" >
                <input type="submit" class="btn btn-info" value="Đăng xuất">
            </form>
        </div>
    </nav>
</div>
</body>
</html>