<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Hệ thống báo giá thi công nội thất</h3>
                <h4>Trang chủ</h4>
            </div>
            <div class="col-sm-6">
                <div th:if="${session.user != null}">
                    <!-- Nếu tồn tại, hiển thị chào mừng với tên người dùng -->
                    Welcome <b><span th:text="${session.user.getLastName()}"></span></b>
                    <form action="#" th:action="@{/logout}" method="POST" >
                        <input type="submit" class="btn btn-info" value="Đăng xuất">
                    </form>
                </div>
                <!-- Nếu không tồn tại, hiển thị chào mừng với Guest và nút Login -->
                <div th:unless="${session.user != null}">
                    Welcome Guest
                    <form action="/showLoginPage" method="GET">
                        <button type="submit" class="btn btn-info">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <button sec:authorize="hasAnyRole('STAFF')" class="btn btn-success">View</button>
        <button sec:authorize="hasAnyRole('STAFF')" class="btn btn-danger">Update</button>
        <button sec:authorize="hasAnyRole('STAFF')" class="btn btn-warning">Delete</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>